* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 12px 100px;
    background-color: #9fbf67;
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    font-size: x-large;
    font-weight: 60px;
    color: darkgreen;
}

.navbar .nav {
    display: flex;
    list-style-type: none;
    gap: 12px;
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: darkolivegreen;
}

a:hover {
    color: darkgreen;
}

.header {
    padding: 12px 100px;
    background-color: #9fbf67;
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.text h1 {
 font-size: 48px;
 font-weight: bold;
 color: darkgreen;
}

.paragraph {
  font-size: 18px;
  color: darkolivegreen;
  display: flex;
  width: 350px;
}

.button button {
    margin-top: 8px;
    padding: 2px 14px;
    background-color: darkolivegreen;
    border: 2px solid darkgreen;
    color: #9fbf67;
}

button:hover {
    background-color: darkgreen;
}

.information {
    padding: 12px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #bedeaf;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: darkgreen;
}

.blocks {
    display: flex;
    gap: 24px;
}

.blocks .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 129px;
    gap: 8px;
}

.block p {
    font-size: 12px;
    color: darkolivegreen;
}

.block img {
    border: solid darkgreen;
    border-radius: 8px;
}
