* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #bedeaf;
}

.navbar {
    padding: 12px 100px;
    background-color: #9fbf67;
    display: flex;
    justify-content: space-between;
    background-color: #9fbf67;
}

.navbar .logo {
    font-size: x-large;
    font-weight: 60px;
    color: darkgreen;
    background-color: #9fbf67;
}

.navbar .nav {
    display: flex;
    list-style-type: none;
    gap: 12px;
    display: flex;
    align-items: center;
    background-color: #9fbf67;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: darkolivegreen;
    background-color: #9fbf67;
}

li {
    background-color: #9fbf67;
}

a:hover {
    color: darkgreen;
}

.header {
    padding: 12px 100px;
    background-color: #9fbf67;
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    background-color: #9fbf67;
}

.text h1 {
 font-size: 48px;
 font-weight: bold;
 color: darkgreen;
 background-color: #9fbf67;
}

.paragraph p {
  font-size: 18px;
  color: darkolivegreen;
  display: flex;
  width: 350px;
  background-color: #9fbf67;
}

.button {
    background-color: #9fbf67;
}


.button button {
    margin-top: 8px;
    padding: 2px 14px;
    background-color: darkolivegreen;
    border: 2px solid darkgreen;
    color: #9fbf67;
    border-radius: 8px;
}

button:hover {
    background-color: darkgreen;
}

.information {
    padding: 12px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #bedeaf;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: darkgreen;
}

.blocks {
    display: flex;
    gap: 24px;
}

.blocks .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 129px;
    gap: 8px;
}

.block p {
    font-size: 12px;
    color: darkolivegreen;
}

.block img {
    border: solid darkgreen;
    border-radius: 8px;
}

.quotation {
    padding: 24px 250px;
    display: flex;
    flex-direction: column;
    color: darkgreen;
    background-color: #d5f2bb;
    font-size: 24px;
    font-weight: light;
    font-style: italic;
}

.quotation p {
    background-color: #d5f2bb;
}

.quotation h6 {
    margin-left: auto;
    background-color: #d5f2bb;
}

.action {
    padding: 24px 40px;
    margin: 24px 120px;
    border: solid darkgreen;
    border-radius: 8px;
    background-color: #9fbf67;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.calltolook p {
    line-height: 1.2;
    background-color: #9fbf67;
    color: #d5f2bb;
    font-size: 14px;
}

.calltolook h5 {
    background-color: #9fbf67;
    line-height: 1.2;
    color: #d5f2bb;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9fbf67;
}

.lookton {
    flex-shrink: 0;
    margin-top: 8px;
    padding: 2px 14px;
    border: 2px solid darkgreen;
    color: darkolivegreen;
    font-size: 16px;
    border-radius: 8px;
}

footer p {
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    font-size: 10px;
    padding: 16px;
    color: #9fbf67;
}
